@{
    ViewBag.Title = "Altbet";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div id="p_prldr">
    <div class="contpre">
        <span class="svg_anm">
        </span> <br> <br>
        Loading ...
    </div>
</div>
<div class="first_page_wrapper">
    <div class="main_bg"></div>
    <header class="first_page">
        <div class="header_info">
            <div class="logo-container">
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "logo" })
            </div>
            <div class="header_right">
                <ul id="menu" class="page_menu">
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">Start</a></li>}
                    <li data-menuanchor="secondPage"><a href="#secondPage">Markets</a></li>
                    <li data-menuanchor="thirdPage"><a href="#thirdPage">Advantages</a></li>
                    <li data-menuanchor="fourthPage"><a href="#fourthPage">Contacts</a></li>
                    @*<li data-menuanchor="lastPage"><a href="#lastPage">Contacts</a></li>*@
                </ul>
                <div class="user">
                    <div class="log_in @(User.Identity.IsAuthenticated ? "active" : "")">
                        <ul class="user-menu">
                            <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                            <li><a href=@Url.Action("Logout", "Account")>Log out</a></li>
                        </ul>
                        <span class="user-name">@User.Identity.Name</span>
                    </div>
                    <div class="log_out @(!User.Identity.IsAuthenticated ? "active" : "")">
                        <a href=@Url.Action("Index", "Account") class="sign_in">Join/Login</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var globalData = {
                userIdentity: '@User.Identity.IsAuthenticated',
                rootUrl: '@Url.Content("~/")',
                landingPage: true
            }
        </script>

        @Html.Partial("_RegistrationCountries", null);

    </header>


    <div id="fullpage">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="section first_slide">
                <div id="start_betting" data-anchor="slide1" class="slide start_slide">
                    <div class="content">
                        <h1>TRADE YOUR GAMES NOW!</h1>
                        <span class="info info_f fadeInLeftBig ">Follow the Event</span>
                        <span class="info info_s fadeInRightBig">Trade</span>
                        <span class="info info_th fadeInUpBig">Win</span>
                        <button class="join btn wave ">Join Now</button>

                    </div>
                </div>
            </div>
        }
        <div class="section second_slide">
            <div class="sport_video video_category" id="sport_link_video">
                <video preload="auto" loop autoplay>
                    <source src="~/video/sport.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
            </div>
            @*<div class="finance_video video_category" id="finance_link_video">
                <video preload="auto" loop autoplay>
                    <source src="~/video/finance_video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
            </div>*@
            <div class="esport_video video_category" id="e_sport_link_video">
                <video preload="auto" loop autoplay>
                    <source src="~/video/e_sport.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
            </div>
            @*<div class="society_video video_category" id="society_link_video">
                <video preload="auto" loop autoplay>
                    <source src="~/video/society_video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
            </div>*@
            <div id="main_category" data-anchor="slide2" class="slide">
                <div class="content">
                    <div class="wrapper">
                        <div class="container_up">
                            <a href="@Url.RouteUrl("LandingCategories", new { controller = "Home", action = "Index", path = "fantasy-sport" })" class="item_category" id="sport_link">
                                <span>Fantasy Sport</span>
                            </a>
                            <a href="@Url.RouteUrl("LandingCategories", new { controller = "Home", action = "Index", path = "e-sport" })" class="item_category" id="e_sport_link">
                                <span>E-Sport</span>
                                <span class="soon">(coming soon)</span>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "" })
                                <a href=@Url.Action("Index", "Home") class="join_link btn wave">Trade Now</a>
                            }
                            else
                            {
                                <button class="join btn wave">Join Now</button>
                            }
                        </div>
                        @*<div class="container_down">
                            <a href="@Url.RouteUrl("LandingCategories", new {controller = "Home", action = "Index", path = "economy"})" class="item_category" id="finance_link">
                                <span>Politics</span>
                                <span class="soon">(coming soon)</span>
                                </a>
                            <a href="@Url.RouteUrl("LandingCategories", new {controller = "Home", action = "Index", path = "society"})" class="item_category" id="society_link">
                                <span>Society</span>
                                <span class="soon">(coming soon)</span>
                                </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "" })
                                <a href=@Url.Action("Index", "Home") class="join_link btn wave">Trade Now</a>
                            }
                            else
                            {
                                <button class="join btn wave">Join Now</button>
                            }*@
                        @*</div>*@

                    </div>
                </div>

            </div>
        </div>
        <div class="section">
            <div id="see_more" data-anchor="slide3 " class="slide">
                <div class="content">
                    <h2>Our Advantages</h2>
                    @*<div class="video">
                        <span class="movie"></span>
                        <button class="eng btn">Eng</button>
                        <button class="ru btn">Ru</button>
                    </div>*@
                    <div class="advantages">
                        <div class="item">
                            <h3>Simplicity</h3>
                            <span class="icon"></span>

                            <span class="info"> <strong>About Alt.Bet Exchange</strong> Alt.Bet Exchange offers a transparent, neutral, non manipulated platform for playing daily fantasy sport events in entirely new pre-set format. Driven by its mission to make in-play DFS trading user friendly, alt.bet delivers state of the art technology and outstanding customer service to fantasy sports enthusiasts, traditional bettors, gaming operators and trading community. </span>
                        </div>
                        <div class="item">
                            <h3>Transparency</h3>
                            <span class="icon"></span>
                            <span class="info"> <strong>Fantasy Sports</strong>Alt.Bet Exchange is currently operating two exchanges — Fantasy Sports and E-Sports. We are proud to be the “alternative” start-up, and to deliver Fantasy Sports exchange to its participants.</span>
                        </div>
                        <div class="item">
                            <h3>Fairness</h3>
                            <span class="icon"></span>
                            <span class="info">
                                <strong>Alt.Bet Exchange Offers</strong>
                                <ul>
                                    <li>- The Best Matching Prices. </li>
                                    <li>- Active Bettor</li>
                                    <li>- Simultaneous Multi Order Trade Slip.</li>
                                    <li>- Continuous Rebalance.</li>
                                    <li>- Clean Optimized Ultralight Interface.</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="section">
            <div id="pricing" data-anchor="slide4" class="slide price_plan_form">
                <div class="content">
                    <div class="wrapp_price">
                        <div class="item">
                            <h2>Free</h2>
                            <strong class="price"><span class="value">$</span>0</strong>
                            <span class="time">PER MONTH</span>
                            <ul class="info">
                                <li>Low Fees</li>
                                <li>Rebates for Liquidity Adding</li>
                                <li>Low Settlement Fees</li>
                                <li>No Deposit Fees</li>
                                <li>$10 Deposit Minimum</li>
                                <li>Pass Through Withdrawal Fees</li>
                            </ul>
                            <button class="purchase btn wave">Try Free</button>
                        </div>
                        <div class="item">
                            <h2>Bronze</h2>
                            <strong class="price"><span class="value">$</span>10</strong>
                            <span class="time">PER MONTH <span class="same">(or $<span class="price">99</span>/year)</span></span>
                            <ul class="info">
                                <li>1500 contracts included</li>
                                <li>(18000/year contracts included)</li>
                                <li>Low Fees</li>
                                <li>Rebates for Liquidity Adding</li>
                                <li>Waived Settlement Fees</li>
                                <li>No Deposit Fees</li>
                                <li>No Deposit Minimum</li>
                                <li>Waived Withdrawal Fees</li>
                                <li>save up to <strong>36%</strong></li>
                            </ul>
                            <button class="purchase btn wave">Purchase</button>
                        </div>
                        <div class="item">
                            <h2>Silver</h2>
                            <strong class="price"><span class="value">$</span>30</strong>
                            <span class="time">PER MONTH <span class="same">(or $<span class="price">299</span>/year)</span></span>
                            <ul class="info">
                                <li>5000 contracts included</li>
                                <li>(60000/year contracts included)</li>
                                <li>Low Fees</li>
                                <li>Rebates for Liquidity Adding</li>
                                <li>Waived Settlement Fees</li>
                                <li>No Deposit Fees</li>
                                <li>No Deposit Minimum</li>
                                <li>Waived Withdrawal Fees</li>
                                <li>save up to <strong>42%</strong></li>
                            </ul>
                            <button class="purchase btn wave">Purchase</button>
                        </div>
                        <div class="item">
                            <h2>Gold</h2>
                            <strong class="price"><span class="value">$</span>100</strong>
                            <span class="time">PER MONTH <span class="same">(or $<span class="price">999</span>/year)</span></span>
                            <ul class="info">
                                <li>20000 contracts included</li>
                                <li>(240000/year contracts included)</li>
                                <li>Low Fees</li>
                                <li>Rebates for Liquidity Adding</li>
                                <li>Waived Settlement Fees</li>
                                <li>No Deposit Fees</li>
                                <li>No Deposit Minimum</li>
                                <li>Waived Withdrawal Fees</li>
                                <li>save up to <strong>52%</strong></li>
                            </ul>
                            <button class="purchase btn wave">Purchase</button>
                        </div>
                        <div class="item">
                            <h2>Enterprise</h2>
                            <ul class="info enterprise">
                                <li>
                                    If You are Licensed Gaming Operator, please <a href="mailTo:enterprise@alt.bet"
                                                                                   class="text_decoration">Contact Us</a> for details.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="section">
            <div id="contact_us" data-anchor="slide4" class="slide">
                <div class="content">
                    <h2>Talk To Us</h2>
                    <span class="describe">Questions? Comments? Find us online. We are always availiable to help you out.</span>

                    <div class="contacts">
                        <div class="item">
                            <a href="#" onclick="zE.activate({ hideOnClose: true });"><strong>start</strong>chat</a>

                            @*<strong>start<a href="#" onclick="zE.activate({ hideOnClose: true });">chat</a></strong>*@
                        </div>
                        <div class="item">
                            <a href="mailto:info@alt.bet">info@alt.bet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="warning_container"><span>Please play responsibly</span></div>
        <div class="copyright"><span>Copyright © 2016 - 2017 Alt.Bet Exchange B.V. All rights reserved.</span></div>
    </div>
</div>
