<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin panel @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Scripts/vendor")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/Content/css")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone.min.js"></script>*@

    <script type="text/javascript">
        var globalData = {
            rootUrl: '@Url.Content("~/")',
            ac: {
                action: "@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action").ToLower()",
                controller: "@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller").ToLower()",
            },
        };
    </script>
</head>
<body class="hold-transition skin-blue-light sidebar-mini ac-@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action").ToLower() co-@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller").ToLower()">

    <div id="DiLoading"><img src="" alt=""></div>

    <script id="TPLmodalDialog" type="text/x-handlebars-template">
        @Html.Partial("_ModalDialog")
    </script>

    <script id="TPLcompleteStatus" type="text/x-handlebars-template">
        @Html.Partial("_SetResultStatusDialog")
    </script>


<script id="TPLinfoMessageAbs" type="text/x-handlebars-template">
        <div class="js-alert alert {{alertType}} alert-dismissible" data-js="infoMessWrapper">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 style="display: none"><i class="icon fa {{icon}}"></i> {{header}}</h4>
            {{{text}}}
        </div>
    </script>


    <div id="DiLoading2">
        <p class="loader" id="loading_mask_loader"><img src="@Url.Content("~/")Images/loading1.gif" alt="Loading..."><br>Please wait...</p>
    </div>

    <div class="js-mp-dialog"></div>
    <div class="info-mess-abs" data-js="DiInfoMP">
        <div class="alert alert-info alert-dismissible" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            Info alert preview. This alert is dismissable.
        </div>
    </div>

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="link-logo">
                <img src="@Url.Content("~/Images/logo.png")"/>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="@Url.Action("Logout", "Account")" class="dropdown-toggle">
                                <i class="user-image fa fa-user"></i>
                                <span class="hidden-xs"><!-- USER LOGIN-->@User.Identity.Name</span>
                                <button type="button" class="btn btn-block btn-default btn-sm">Logout</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        @{
            var action = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action").ToLower();
            var controller = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller").ToLower();
            var activeExchCat = "";
            var activeXmlFeed = "";

            if (action == "index" && controller == "home") {
                activeExchCat = "active";
            } else {
                activeXmlFeed = "active";
            }
        }
        <aside class="main-sidebar">
            <section class="sidebar" style="height: auto;">
                <div class="user-panel">

                </div><!-- /.user-panel -->

                <ul class="js-sidebar-menu sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="js-treeview treeview @activeExchCat">
                        <a href="#" class="js-tree-menu-item">
                            <i class="fa fa-folder"></i> <span>Exchanges categories</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="no-sub-menu">
                                <a href="@Url.Action("NewCategory", "Category", null)" class="add-root-cat"><i class="fa fa-plus"></i>Add root category</a>
                                @Html.Partial("_MenuAdmin")
                            </li>
                        </ul>
                    </li>
                    @*                <li class="header">MAIN NAVIGATION</li>*@
                    <li class="treeview @activeXmlFeed">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Xml feed</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Feed", null)"><i class="fa fa-circle-o"></i>Feed events</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>

    @*<div class="global_message_container message_pop_up" id="global_message">
        <p>something wrong</p>
    </div>*@

    @Scripts.Render("~/Scripts/admin")
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    @Scripts.Render("~/bundles/admin")

    <script>
        $("#DiLoading img").attr('src', globalData.rootUrl + "Images/loading1.gif")
    </script>
</body>
</html>
