<header id="DiMPHeader">
    <div class="header_info">
        <div class="header_left">
            <div class="logo-container">
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "logo" })
            </div>
            <div class="fast_menu">
                <a href="@Url.Action("Index", "Home", null)" class="f_button f_but_bor "><span>Exchange</span> </a>
                <a href="#" class="f_button f_but_before f_but_bor"><span>My Games</span></a>
                <a href="#" class="f_button f_but_before f_but_bor"><span class="history_event">My History</span></a>
                <a href="@Url.Action("GetStaticPage", "Home", new { name = "TradingRules" })" class="f_button f_but_before"><span>Rules</span> </a>
            </div>
        </div>
        @*<div class="video btn">
                <span class="title">Watch video</span>
                <button class="eng btn">Eng</button>
                <button class="ru btn">Ru</button>
            </div>*@
        <div class="header_right">
            <div class="reconnect help balloon_only">
                <button class="btn connect wave waves-effect waves-button" data-js-connect-label=""></button>
				<div class="help_message w200 ce-bo">There is no connection to server now. <br />Click here for reconnect</div>
			</div>

            <div class="user_info @(User.Identity.IsAuthenticated ? "active" : "")">@Html.Action("getBalance", "Account")</div>
            @*@Html.ActionLink("My Positions | Orders", "MyAssets", "Home", new {}, new { @class = " my_order btn" })*@
            @if (User.Identity.IsAuthenticated)
            {
@*                @Html.RouteLink("My Activity", "PositionsOrders", new { controller = "Home", action = "MyAssets" }, new { @class = " my_order btn" })*@
                @Html.RouteLink("My Activity", "Activity", new { controller = "Home", action = "MyAssets", name = "my-entries" }, new { @class = " my_order btn" })
                <script>
                    @*globalData.Urls.MyActivity = "@Url.Action("Positions-Orders", new { controller = "Home", action = "MyAssets" })";*@
                    globalData.Urls.MyActivity = "@Url.Action("Activity", new { controller = "Home", action = "MyAssets", name = "my-entries" }).Replace("?name=", "/")";
</script>
                <a href="@Url.Action("Index", "Account")#/funds/deposit" class="btn deposit" data-js-deposit="">Deposit</a>
            }
            <div class="odds_converter select">
                <span class="active_selection active_odd btn wave">Implied</span>
                <ul class="select_list odds_list" ref="oddsList">
                    <li>Implied</li>
                    <li>Decimal</li>
                    <li>American</li>
                    <li>Fractional</li>
                </ul>
            </div>
            @*<button class="price_plan btn">Pricing Plans</button>*@
            @*<form class="header_form">
                        <div class="select">
                            <select class="language img" name="odds" id="change_language" style="width: 80px;">
                                <option value="en" data-title="English">English</option>
                            </select>
                        </div>
                    </form>*@
            <div class="user">
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="log_in @(User.Identity.IsAuthenticated ? "active" : "")">
                        <ul class="user-menu">
                            <li>
                                <strong class="change-color">
                                    Theme color
                                    <button class="dark color_pick" title="dark theme"></button>
                                    <button class="light color_pick" title="light theme"></button>
                                </strong>
                            </li>
                            <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                            <li><a href=@Url.Action("Logout", "Account")>Log out</a></li>
                        </ul>
@*
                        <span class="count_message">
                            $1$<span class="count">99</span>#1#
                        </span>
*@
                        <span class="user-name">@User.Identity.Name</span>
                    </div>
                }
                else
                {
                    <div class="log_out @(!User.Identity.IsAuthenticated ? "active" : "")">
                        <a href="#login" class="sign_in">Join/Login</a>@*@Url.Action("Index", "Account")*@
                        <div class="change-color">
                            <strong>Theme color</strong>
                            <button class="dark color_pick" title="dark theme"></button>
                            <button class="light color_pick" title="light theme"></button>
                        </div>
                    </div>
                }
            </div>
        </div>
            <button class="chat"></button>

        </div>
    </header>