<!DOCTYPE html>

<html>
<head>
@*    <meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @{
        var cssMain = User.Identity.IsAuthenticated && !string.IsNullOrEmpty((string) Session["Theme"]) && (string)Session["Theme"] == "light" ? "light" : "dark";
        cssMain = "~/Content/" + cssMain;
    }

@*    @Styles.Render("~/Scripts/vendor")*@
    @Styles.Render(cssMain)
    @Scripts.Render("~/bundles/access")

<!-- Start of altbet Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="altbet.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/
    zE(function () {
        zE.setLocale('en');
        zE.hide();
    });
</script>
    <!-- End of altbet Zendesk Widget script -->

</head>
<body class="ac-@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action").ToLower() co-@System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller").ToLower()">
    <div class="bg_cont_left"><span></span></div>
    <div class="bg_cont_riht"><span></span></div>
    <div class="wr_more_1920">
        <div id="DiRoot"></div>

        <div class="dialog-win template" data-js-dialog-win="">
            <div class="dialog-win__container" data-js-wrapper="wrapper">
                <div class="dialog-win__content">
                    <div class="dialog-win__message" data-js-message="">Please, confirm your action</div>
                    <div class="dialog-win__buttons">
                        <button class="btn btn1 wave hide submit waves-effect waves-button" data-js-btn1="">Yes</button>
                        <button class="btn btn2 wave hide no waves-effect waves-button" data-js-btn2="">No</button>
                    </div>
                </div>
            </div>
        </div>

        @*
            <div class="dialog-win template" data-js-popup-win="">
                <div class="dialog-win__container" data-js-wrapper="wrapper">
                    <div class="dialog-win__content dialog-win__content_full">
                        <div class="dialog-win__close close" data-js-close=""></div>
                        <div class="dialog-win__inner" data-js-content=""></div>
                    </div>
                </div>
            </div>
        *@

        <div data-js-dialog-mp=""></div>

        <div class="wrapper" id="mountPoint">
            @Html.Partial("_Header")
            @Html.Partial("_MainMenu")
            @RenderBody()
            <div id="DiContent"></div>
        </div>


        @Html.Partial("_Footer")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vendors")

        @Scripts.Render("~/localization/strings")
        @Scripts.Render("~/bundles/alljs")
        @Scripts.Render("~/bundles/all")
        @Scripts.Render("~/bundles/bundler")
        @Scripts.Render("~/bundles/chart")



        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: "0730dc3f-a40a-4893-ae28-29b5e2455865",
                autoRegister: true, // Set to true to automatically prompt visitors /
                subdomainName: 'altbet',
                safari_web_id: 'web.onesignal.auto.39adc2cb-6008-498a-9928-7e19718d3b6a',
                httpPermissionRequest: {
                    enable: true
                },
                notifyButton: {
                    enable: false // Set to false to hide /
                }
            }]);

            ///------------------------------

            //Firstly this will check user id
            OneSignal.push(function () {
                OneSignal.getUserId().then(function (userId) {
                    if (userId == null) {
                        document.getElementById('unsubscribe').style.display = 'none';
                    }
                    else {
                        useragentid = userId;
                        document.getElementById('unsubscribe').style.display = '';
                        OneSignal.push(["getNotificationPermission", function (permission) {
                        }]);
                        OneSignal.isPushNotificationsEnabled(function (isEnabled) {
                            if (isEnabled) {
                                document.getElementById('unsubscribe').style.display = '';
                                document.getElementById('subscribe').style.display = 'none';
                            }
                            else {
                                document.getElementById('unsubscribe').style.display = 'none';
                                document.getElementById('subscribe').style.display = '';
                            }
                        });
                    }
                });
            });
            //Secondly this will check when subscription changed
            OneSignal.push(function () {
                OneSignal.on('subscriptionChange', function (isSubscribed) {
                    if (isSubscribed == true) {
                        OneSignal.getUserId().then(function (userId) {
                            useragentid = userId;
                        }).then(function () {
                            // this is custom function
                            // here you can send post request to php file as well.
                            OneSignalUserSubscription(useragentid);
                        });
                        document.getElementById('unsubscribe').style.display = '';
                        document.getElementById('subscribe').style.display = 'none';
                    }
                    else if (isSubscribed == false) {
                        OneSignal.getUserId().then(function (userId) {
                            useragentid = userId;
                        });
                        document.getElementById('unsubscribe').style.display = 'none';
                        document.getElementById('subscribe').style.display = '';
                    }
                    else {
                        console.log('Unable to process the request');
                    }
                });
            });



            function subscribeOneSignal() {
                if (useragentid != null) {
                    OneSignal.setSubscription(true);
                }
                else {
                    OneSignal.registerForPushNotifications({
                        modalPrompt: true
                    });
                }
            }


            function unSubscribeOneSignal() {
                OneSignal.setSubscription(false);
            }










            //callBack for Subscribed Users

            OneSignal.push(function () {
                OneSignal.on('subscriptionChange', function (isSubscribed) {
                    if (isSubscribed) {
                        OneSignal.getUserId(function (userId) {
                            var data = { 'userName': globalData.userLogin, 'oneSignalId': userId };

                            $.ajax({
                                type: "POST",
                                url: "Account/PushSubscribe",
                                data: data,
                                error: function () {
                                    console.log('Error userName: ' + data.userName);
                                    console.log('Error oneSignalId: ' + data.oneSignalId);
                                },
                                success: function () {
                                    console.log('userName: ' + data.userName);
                                    console.log('oneSignalId: ' + data.oneSignalId);
                                }

                            });
                        });
                    }


                });
            });





        </script>

    </div>
</body>
</html>
