@model AltBet.Model.User
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/fancyboxcss")
    <title>alt.bet</title>
</head>
<body>
    <section class="wrapper">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-md-6"><strong><a href=@Url.Action("Index", "Home") class="logo">Logotype</a></strong></div>
                    <div class="col-md-6">
                        <ul class="main-menu">
                            <li><a href="#">about</a></li>
                            <li><a href=@Url.Action("Index", "Features")>features</a></li>
                            @{if (!User.Identity.IsAuthenticated) {       
                                <li>
                                    <a href="#pop-up" class="fancybox">sing in</a>
                                </li>
                                <li>
                                    <a href=@Url.Action("Index", "Account")>sing up</a>
                                </li>
                              }
                              else
                              {
                                <li>
                                    @Html.Encode(User.Identity.Name)
                                </li>
                                <li>
                                    <a href=@Url.Action("Logout", "Account")>logout</a>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody();
    </section>
    <footer>
        <div class="container">
            <section class="footer-nav">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Policy</h3>
                        <ul>
                            <li><a href="#">Text 1</a></li>
                            <li><a href="#">Text 2</a></li>
                            <li><a href="#">Text 3</a></li>
                            <li><a href="#">Text 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Language</h3>
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">Chinese</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Contacts</h3>
                        <ul>
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Phone</a></li>
                            <li><a href="#">E-mailSkype</a></li>
                            <li><a href="#">Skype</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><a href="#"><img src="../Images/in.png"></a></li>
                            <li><a href="#"><img src="../Images/g.png"></a></li>
                            <li><a href="#"><img src="../Images/youtube.png"></a></li>
                            <li><a href="#"><img src="../Images/sk.png"></a></li>
                            <li><a href="#"><img src="../Images/fb.png"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="footer-partners">
                <div class="row">
                    <div class="col-md-12">
                        <p>Nullam sed rhoncus enim. Aliquam consequat libero ac blandit euismod. Quisque facilisis vulputate est, eu vestibulum felis porttitor vel. In hac habitasse platea dictumst. Nulla egestas orci sapien, sit amet lobortis diam tincidunt at. Donec suscipit tempus massa. Vivamus non elementum nisi. Vestibulum id ipsum erat. Vestibulum arcu lacus, vulputate a sem nec, tempus consectetur quam. Quisque ligula ex, molestie quis imperdiet eu, dapibus quis augue. Duis ac lacus at erat lacinia pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="partners"><img src="../Images/mandes.png"><img src="../Images/Telenor_logo.png"><img src="../Images/avg-technologies-logo.png"><img src="../Images/wind-logo.png"><img src="../Images/en_laprotox_logo2_PNG.png"></div>
                    </div>
                </div>
            </section>
            <section class="copy-right">
                <div class="col-md-12">
                    <p>&copy; Copyright. All rights reserved 2016</p>
                </div>
            </section>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/common")
    <div class="hidden">
        <div id="pop-up">
            @using (@Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <row>
                    <h2>sing in</h2>
                    <div class="col-md-6">
                        <input type="submit" id="face" value="Sign in with Facebook">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" id="twitter" value="Sign in with Twitter">
                    </div>
                    @*<div class="col-md-6">
                            @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", type = "text", id = "name" })
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="Lastname" placeholder="Lastname" disabled="disabled">
                        </div>*@
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "example@mail.ru", type = "email", id = "mail" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", type = "password", id = "password" })
                        <h3>captcha</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="captca"><img src="~/../Images/CAPTCHAimg.png"></div>
                    </div>
                    <div class="col-md-5">
                        <input type="text" id="captcha">
                    </div>
                    <div class="col-md-2"><img src="~/../Images/Recaptcha.png"></div>
                    <div class="col-md-12">
                        <input type="submit" id="regis" value="sing in">
                    </div>
                </row>
            }
        </div>
    </div>
</body>
</html>



@*<div class="order_content" id="order-form" style="display: none;">
    @using (@Html.BeginForm("create", "order", FormMethod.Post))
    {
        <h3 id="exchange_name"></h3>
        <div class="sell-container" id="order-container">

            <div class="price col-3" style="margin-left: 3px;">
                <label>Ваша цена</label><br>
                <div class="input">

                    @Html.TextBoxFor(model => model.Item2.LimitPrice, new { type = "text", @class = "number", placeholder = "0,33" })
                    @*<input type="text" class="number" placeholder="0.33">

                    <div class="regulator"><span class="plus">+</span><span class="minus">-</span></div>
                </div>
            </div>
            <div class="volume col-3" style="margin-left: 3px;">
                <label>Объем</label><br>
                <div class="input">

                    @Html.TextBoxFor(model => model.Item2.Quantity, new { type = "text", @class = "number", placeholder = "10" })
                    @*<input type="text" class="number" placeholder="123">

                    <div class="regulator"><span class="plus">+</span><span class="minus">-</span></div>
                </div>
            </div>
            <div class="order_type col-3" style="margin-left: 3px;">
                <div class="obligations">
                    <label>Сумма:</label><br>
                    <div class="input">
                        <input type="text" class="number" placeholder="40.59">
                        <div class="regulator"><span class="plus">+</span><span class="minus">-</span></div>
                    </div>
                </div>
            </div>
            @Html.ListBoxFor(model => model.Item2.OrderType, new List<SelectListItem> {
                                                new SelectListItem {Selected = true, Text = "Limit", Value = "Limit" }},
                                                new { @class = "limit_market col-3", style = "margin-left: 3px;", name = "kimit" })

            @Html.HiddenFor(model => model.Item2.Side, new { id = "side" })
            @Html.HiddenFor(model => model.Item2.Symbol.Exchange, new { id = "symbol" })
            @Html.HiddenFor(model => model.Item2.isMirror, new { id = "mirror" })

            <select class="limit_market col-3" style="margin-left: 3px;" name="kimit">
                    <option value="-1">Market</option>
                    <option value="0">Limit</option>
                </select>
            <input type="submit" id="submit" class="btn sell col-3" value="SELL" style="text-transform: uppercase;">
            <button class="btn delete col-3" style="margin-left: 3px;"></button>

        </div>
        <div class="buy-container"></div>
    }


</div>*@