@model AltBet.Admin.Models.CategoryViewModel

<script type="text/javascript">
    globalData.controller = { name: "Category", action: "New" };
    globalData.iconClasses = JSON.parse(@Html.Raw(Json.Encode((string)ViewBag.AllIcons)));
</script>


<div class="main_content">
    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @id = "F1EditCat" }))
    {
        @Html.Hidden("ParentId", (Guid)@ViewBag.ParentId)
        <div class="col-sm-6">
            <div class="js-alert alert-message alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                <span class="js-text"></span>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    @if ((Guid)@ViewBag.ParentId != Guid.Empty)
                    {
                        <h3 class="box-title">Create a sub category in “@ViewBag.Category”</h3>
                    }
                    else
                    {
                        <h3 class="box-title">Create root category</h3>
                        @Html.Hidden("Level", 0)
                    }

                    <div class="box-tools pull-right">

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal">
                    <div class="js-form-group form-group" @*has-error*@>
                        <label class="col-sm-2 control-label" for="Name"><i class="js-error-icon error-icon fa fa-times-circle-o"></i> Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "js-ed-name form-control", @id = "Name" })
                        </div>
                        <span class="js-message help-block col-sm-10 col-sm-push-2"><!--Err mess--></span>
                    </div>

                    <div class="js-form-group form-group">
                        <label class="col-sm-2 control-label" for="Url"><i class="js-error-icon error-icon fa fa-times-circle-o"></i> Url</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Url, new { @class = "js-ed-url form-control", @id = "Url" })
                        </div>
                        <span class="js-message help-block col-sm-10 col-sm-push-2"><!--Err mess--></span>
                    </div>

                    <div class="js-form-group form-group">
                        <label class="col-sm-2 control-label" for="Icon"><i class="js-error-icon error-icon fa fa-times-circle-o"></i> Icon</label>
                        <div class="col-sm-10">
                            <select class="js-cb-icons cb-icons" name="Icon" style="width: 200px"></select>
                        </div>
                        <span class="js-message help-block col-sm-10 col-sm-push-2"><!--Err mess--></span>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 col-sm-push-2">
                            <input type="submit" class="js-btn-save btn btn-info" value="Create"> <button class="js-btn-cancel btn btn-default" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    }
</div>
