@model AltBet.Bet.Models.UserInfoViewModel

@{
    var options = new AjaxOptions
    {
        Url = Url.Action("EditUserInfo", "Account"),
        //OnBegin = "ajaxLoginControllerClass.OnBeginJs",
        OnSuccess = "ajaxUserDataUpdate.OnSuccessJs",
        OnFailure = "ajaxUserDataUpdate.OnFailureJs",
        //OnComplete = "OnCompleteJs",
    };
}

<h2>Settings</h2>
<div class="user_info">
    <div class="logo"></div>
    <div class="personal_info">
        <h3 class="mail">@Model.Email</h3>
        <strong>@Model.FirstName @Model.LastName</strong>
    </div>
</div>
@using (Ajax.BeginForm("EditUserInfo", null, options, new {@class = "setting_form"}))
{
    <div class="column">

        <h3 class="section_user">Personal info</h3>
        <hr>

        <span class="input_animate input--yoshiko input--filled">
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "validation-summary-errors" })
            @Html.TextBoxFor(m => m.FirstName, new {@class = "input__field input__field--yoshiko", id = "f_name", maxlength = "50"})
            @*<input class="input__field input__field--yoshiko" type="text" id="f_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="f_name">
                <span class="input__label-content input__label-content--yoshiko" data-content="First Name">First Name</span>
            </label>
            <span class="validation-summary-errors"></span>
            <span class="info top">
                <i>Your first name as specified in your passport</i>
            </span>
        </span>

        <span class="input_animate input--yoshiko  input--filled">
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "validation-summary-errors" })
            @Html.TextBoxFor(m => m.LastName, new {@class = "input__field input__field--yoshiko", id = "l_name", maxlength = "50"})
            @*<input class="input__field input__field--yoshiko" type="text" id="l_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="l_name">
                <span class="input__label-content input__label-content--yoshiko" data-content="Last Name">Last Name</span>
            </label>
            <span class="validation-summary-errors"></span>
            <span class="info top">
                <i>Your second name as specified in your passport</i>
            </span>
        </span>


        <span class="input_animate input--yoshiko input--filled">
            @Html.TextBoxFor(m => m.UserName, new { @class = "input__field input__field--yoshiko", id = "n_name", @disabled = "disabled" })
            @*<input class="input__field input__field--yoshiko" type="text" id="n_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="n_name">
                <span class="input__label-content input__label-content--yoshiko" data-content="User Name">User Name</span>
            </label>
            <span class="validation-summary-errors"></span>
        </span>

			<span class="input_animate input--yoshiko input--filled">
	             @Html.TextBoxFor(m => m.DateOfBirth, String.Format("{0:MM/dd/yyyy}", Model.DateOfBirth), new { @class = "input__field input__field--yoshiko datePickerJs", id = "user_b_day" })
	            <label class="input__label input__label--yoshiko" for="user_b_day">
	                <span class="input__label-content input__label-content--yoshiko" data-content="Date of birth">Date of birth</span>
	            </label>
	            <span class="validation-summary-errors"></span>
        	</span>
        <h3 class="section_user">Contact Info</h3>
        <hr>

        <span class="input_animate input--yoshiko input--filled">
            @Html.TextBoxFor(m => m.Email, new { @class = "input__field input__field--yoshiko", id = "e_name", @disabled = "disabled" })
            @*<input class="input__field input__field--yoshiko" type="email" id="e_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="e_name">
                <span class="input__label-content input__label-content--yoshiko" data-content="Email Address">Email Address</span>
            </label>
            <span class="validation-summary-errors"></span>
            <span class="info bottom">
                <i>
                    Specify your valid email. A message with registration
                    confirmation will be sent at that address.Also that address
                    will be used for communication with you
                </i>
            </span>
        </span>

        <span class="input_animate input--yoshiko input--filled">
            @Html.ValidationMessageFor(m => m.Country, null, new { @class = "validation-summary-errors" })
            @Html.TextBoxFor(m => m.Country, new { @class = "input__field input__field--yoshiko", id = "c_name", maxlength = "128" })
            @*<input class="input__field input__field--yoshiko" type="text" id="c_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="c_name">
                <span class="input__label-content input__label-content--yoshiko"
                      data-content="Country">Country</span>
            </label>
            <span class="validation-summary-errors"></span>
            <span class="info top">
                <i>Indicate the country of your permanent residence</i>
            </span>
        </span>

        <span class="input_animate input--yoshiko input--filled">
            @Html.ValidationMessageFor(m => m.Address, null, new { @class = "validation-summary-errors" })
            @Html.TextBoxFor(m => m.Address, new { @class = "input__field input__field--yoshiko", id = "s_name", maxlength = "200" })
            @*<input class="input__field input__field--yoshiko" type="text" id="s_name" disabled />*@
            <label class="input__label input__label--yoshiko" for="s_name">
                <span class="input__label-content input__label-content--yoshiko"
                      data-content="Address">Address</span>
            </label>
            <span class="validation-summary-errors"></span>
            <span class="info top">
                <i>Enter address manually</i>
            </span>
        </span>

        <span class="input_animate input--yoshiko input--filled">
            @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "validation-summary-errors" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "input__field input__field--yoshiko", id = "t_number", maxlength = "30" })
            @*<input class="input__field input__field--yoshiko" type="tel" id="t_number" disabled />*@
            <label class="input__label input__label--yoshiko" for="t_number">
                <span class="input__label-content input__label-content--yoshiko" data-content="Phone">Phone</span>
            </label>
            <span class="validation-summary-errors"></span>
        </span>
        <span class="input_animate input--yoshiko">
            @*<input type="submit" class="btn wave" value="Submit" disabled="disabled">*@
            <input type="submit" value="Submit" class="btn wave">
            <span class="answer_message"></span>
        </span>
    </div>
}

<script>
    appData.pageAccountUserInfoUrl = "@Url.Action("EditUserInfo", "Account")";
</script>