@model AltBet.Exchange.UserAssets

<span class="win-lost">P/L: <strong class=@(Model.GainLost >= 0 ? "win" : "lost")>@(Model.GainLost >= 0 ? "" : "(")$@Math.Abs(Model.GainLost).ToString("0.00")@(Model.GainLost >= 0 ? "" : ")")</strong></span>
<span class="invested">Exposure: <strong>$@Model.Invested.ToString("0.00")</strong></span>
<span class="available">Available: <strong>$@Model.CurrentBalance.ToString("0.00")</strong></span>

<script>
    var appData = {};
    appData.headerData = JSON.parse('@Html.Raw(Json.Encode(Model))');
</script>

<script>
    var globalData = {
        rootUrl: '@Url.Content("~/")',
        basicMode : true,
        tradeOn:  false,
        autoTradeOn: @Json.Encode(User.Identity.IsAuthenticated ? Convert.ToBoolean(Model.Account.Trade) : false),
        theme: '@(User.Identity.IsAuthenticated ? Model.Account.Theme : "dark")',
        userIdentity: '@User.Identity.IsAuthenticated',
        userLogin: '@User.Identity.Name',
    };

</script>