@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/fancyboxcss")
    <title></title>
</head>
<body>
    <section class="wrapper">
        <div class="container">
            <header class="login">
                <div class="row">
                    <div class="col-md-3"><strong><a href=@Url.Action("Index", "Home") class="logo">Logotype</a></strong></div>
                    <div class="col-md-9">
                        <div class="info-header">
                            <span class="info">gain/loss<span class="num">$306.45</span></span><span class="info">invested<span class="num">$306.45</span></span><span class="info">Available<span class="num">$306.45</span><span class="num">deposite</span></span>
                            <div class="language"><span class="title">eng</span><span class="flag"></span></div>
                            <div class="profile">
                                <a href="#"><span class="title">My profile</span><span class="photo"></span></a>
                                <ul>
                                    <li><a href="#">Text 1</a></li>
                                    <li><a href="#">Text 2</a></li>
                                    <li><a href="#">Text 3</a></li>
                                    <li><a href="#">Text 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="turn-btn-container">
                    <div class="turn-btn"></div>
                </div>
            </header>
        </div><section class="content">
            <aside class="finance-nav turn">
                <ul class="nav-head">
                    <li><a href="sport.html">Sport</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Finance")">Finance</a></li>
                    <li><a href="e-sport.html">E-sport</a></li>
                    <li><a href="politic.html">Politics</a></li>
                </ul>
                <ul class="nav-content">
                    <li class="active"><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/rub</a></li>
                    <li><a href="#">rub/uan</a></li>
                    <li><a href="#">gbp/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                    <li><a href="#">usd/uan</a></li>
                </ul>
                <div class="turn-btn"></div>
            </aside>
            <div class="container">
                <section id="tabs" class="finance">
                    <ul class="nav switch">
                        <li class="active"><span>First</span></li>
                        <li><span>Second</span></li>
                    </ul>
                    <section class="first">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="graph-container">
                                    <img src="../Images/graph.png" class="graph"><span class="info">Some info</span><span class="info">Some another info</span>
                                    <div class="finance-border-low"><span class="title">Low</span><span class="num">1234,56</span></div>
                                    <div class="finance-border-high"><span class="title">High</span><span class="num">6543,21</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-container">
                                <div class="col-md-12"><a href="#" class="add">Add table</a></div>
                                <div class="col-md-4">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>usd</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>eur</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>uah</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>rub</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>zlt</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                            <tr>
                                                <td><span>gbp</span></td>
                                                <td><span>2,556.35</span></td>
                                                <td><span>0.0023</span></td>
                                                <td><span>5.8796</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="total">
                                <div class="col-md-6">
                                    <div class="title-container">
                                        <h3>buy</h3>
                                    </div>
                                    <table class="content-container">
                                        <tbody>
                                            <tr>
                                                <td>Price</td>
                                                <td>3295,62</td>
                                            </tr>
                                            <tr>
                                                <td>Volume</td>
                                                <td>12,28</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>40470,62</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="footer-container"><span>Do it</span></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-container">
                                        <h3>buy</h3>
                                    </div>
                                    <table class="content-container">
                                        <tbody>
                                            <tr>
                                                <td>Price</td>
                                                <td>3295,62</td>
                                            </tr>
                                            <tr>
                                                <td>Volume</td>
                                                <td>12,28</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>40470,62</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="footer-container"><span>Do it</span></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="second">
                        <div class="content-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Header</h1>
                                </div>
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, vehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor.</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque, et convallis tellus enim ut tortor. Duis in quam turpis. Vivamus congue scelerisque nibh ut ultricies. Morbi convallis et risus in maximus. Sed laoreet justo mi, non faucibus nibh iaculis vitae.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, v ehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, vehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque, et convallis tellus enim ut tortor. Duis in quam turpis. Vivamus congue scelerisque nibh ut ultricies. Morbi convallis et risus in maximus. Sed laoreet justo mi, non faucibus nibh iaculis vitae.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra commodo urna nec ultrices. Suspendisse potenti. Ut vel nunc vestibulum, venenatis mi vitae, rutrum mi. Cras euismod id quam et ullamcorper. Curabitur ipsum nibh, venenatis a velit non, v ehicula porttitor felis. Duis laoreet leo et pharetra rhoncus. Donec et ante aliquet, sollicitudin metus quis, hendrerit dolor.</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim pellentesque odio. Praesent interdum, libero non rutrum lacinia, justo ipsum lacinia neque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-comment">
                            <div class="comment-item">
                                <img src="../Images/comment-photo.png">
                                <div class="comment-text">
                                    <strong class="date">13-02-16 19:29</strong>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie felis eget laoreet ornare. Nam non laoreet lorem. Nulla facilisi. Maecenas imperdiet consequat interdum. In nec ante dictum, elementum velit a, porta libero. Mauris non libero ultrices, ornare nunc ut, semper eros. Mauris tempor eu mauris vel congue.</p>
                                </div>
                            </div>
                            <div class="comment-item">
                                <img src="../Images/comment-photo.png">
                                <div class="comment-text">
                                    <strong class="date">13-02-16 19:21</strong>
                                    <p>Vivamus ut egestas sem. Maecenas euismod ut augue vitae congue. Donec gravida eget nulla eget auctor. Vestibulum eget lobortis lorem, at malesuada justo. In varius erat erat, nec scelerisque ipsum varius quis. Nunc varius, nulla rhoncus hendrerit sodales, sem lacus sollicitudin tortor, cursus aliquet est justo sit amet erat. Curabitur id arcu vitae justo interdum imperdiet sit amet quis leo. Donec eu erat risus. Aenean a ultrices sem, in mollis orci. Curabitur tincidunt id dui in ornare. Nullam rhoncus sed ipsum eget vehicula. Phasellus mauris risus, convallis et dolor sit amet, elementum volutpat ex. Vestibulum ut velit vel metus suscipit laoreet. Sed cursus risus massa, in vulputate arcu eleifend a.</p>
                                    <p>Etiam finibus porta ante, posuere pretium sapien rhoncus id. Duis eget est ac nunc elementum interdum. Fusce molestie metus nisi, sed consequat lacus dictum ac. Maecenas enim mi, suscipit ut nulla in, condimentum sodales nibh. Phasellus est ex, vestibulum in tempor tempus, mollis eu dolor. Aliquam erat volutpat. Etiam auctor, risus nec suscipit interdum, neque dui vulputate augue, ac ullamcorper nisl sapien vel augue.</p>
                                </div>
                            </div>
                            <div class="comment-item">
                                <img src="../Images/comment-photo.png">
                                <div class="comment-text">
                                    <strong class="date">13-02-16 19:07</strong>
                                    <p>Pellentesque urna neque, molestie ac aliquet at, accumsan eget elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Cras nec sapien vulputate, tincidunt sem sed, pulvinar nunc. Suspendisse efficitur viverra turpis, ac maximus purus tempor nec. Sed tempor hendrerit eleifend. Aenean enim lectus, tempor at convallis eget, dictum a orci. Duis convallis dictum nunc, vitae molestie urna venenatis ut. Praesent non lorem mi. Suspendisse fringilla ex risus, tempus molestie velit facilisis non. Suspendisse aliquam nibh at lorem convallis, id malesuada sapien eleifend. Maecenas ullamcorper viverra dui, sit amet facilisis velit volutpat eget. Quisque faucibus turpis sed arcu aliquet efficitur. Nullam in luctus tellus.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </section>
    </section>
    <footer>
        <div class="container">
            <section class="footer-nav">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Policy</h3>
                        <ul>
                            <li><a href="#">Text 1</a></li>
                            <li><a href="#">Text 2</a></li>
                            <li><a href="#">Text 3</a></li>
                            <li><a href="#">Text 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Language</h3>
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">Chinese</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Contacts</h3>
                        <ul>
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Phone</a></li>
                            <li><a href="#">E-mailSkype</a></li>
                            <li><a href="#">Skype</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li><a href="#"><img src="../Images/in.png"></a></li>
                            <li><a href="#"><img src="../Images/g.png"></a></li>
                            <li><a href="#"><img src="../Images/youtube.png"></a></li>
                            <li><a href="#"><img src="../Images/sk.png"></a></li>
                            <li><a href="#"><img src="../Images/fb.png"></a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="footer-partners">
                <div class="row">
                    <div class="col-md-12">
                        <p>Nullam sed rhoncus enim. Aliquam consequat libero ac blandit euismod. Quisque facilisis vulputate est, eu vestibulum felis porttitor vel. In hac habitasse platea dictumst. Nulla egestas orci sapien, sit amet lobortis diam tincidunt at. Donec suscipit tempus massa. Vivamus non elementum nisi. Vestibulum id ipsum erat. Vestibulum arcu lacus, vulputate a sem nec, tempus consectetur quam. Quisque ligula ex, molestie quis imperdiet eu, dapibus quis augue. Duis ac lacus at erat lacinia pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="partners"><img src="../Images/mandes.png"><img src="../Images/Telenor_logo.png"><img src="../Images/avg-technologies-logo.png"><img src="../Images/wind-logo.png"><img src="../Images/en_laprotox_logo2_PNG.png"></div>
                    </div>
                </div>
            </section>
            <section class="copy-right">
                <div class="col-md-12">
                    <p>&copy; Copyright. All rights reserved 2016</p>
                </div>
            </section>
        </div>
    </footer>
    <!--script(src="/build/combined.js")-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/common")

    <script src="../vendor/jquery/jquery-1.12.0.min.js"></script>
    <script src="../vendor/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="../assets/js/modules/common.js"></script>
</body>
</html>
