@model AltBet.Admin.Models.EventsViewModel

@*
    <div class="box box-default">

        <div class="box-body pad table-responsive">
            <div class="box box-widget">
                <!-- /.box-header -->
                $1$            <div class="box-header with-border"></div>#1#
                <!-- /.box-body -->
                <div class="box-body" style="display: block;">
                    <select data-js-allsports="" style="width: 200px"></select>
                </div>
                <!-- /.box-footer -->
                $1$            <div class="box-footer" style="display: block;"></div>#1#
                <!-- /.box-footer -->
            </div>

            <table class="table exchanges">
                <thead>
                    <tr>
                        <th><span>FullName</span></th>
                        @if (string.IsNullOrEmpty(Model.Sport))
                        {
                            <th><span>Sport</span></th>
                        }
                        @if (string.IsNullOrEmpty(Model.Sport))
                        {
                            <th><span>League</span></th>
                        }
                        <th><span>Status</span></th>
                        <th>
                            <span class="icon @Model.OrderBy @((Model.StartDateSort.Contains("StartDate")) ? "active" : "")">
                                @Html.ActionLink("Start date", "Index", new { @sport = Model.Sport, @league = Model.League, @sort = Model.StartDateSort, @orderBy = Model.OrderBy })
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FeedEvents)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.FullName)

                            </td>
                            @if (string.IsNullOrEmpty(Model.Sport))
                            {
                                <td>
                                    @Html.DisplayFor(m => item.Sport)
                                </td>
                            }
                            @if (string.IsNullOrEmpty(Model.League))
                            {
                                <td>
                                    @Html.DisplayFor(m => item.League)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(m => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.StartDate)
                            </td>
                            <td class="controls">
                                @Html.ActionLink("Apply", "NewFeedExchange", "Feed", new { @eventId = item.EventId }, new { @class = "btn btn-sm btn-default" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.box -->
    </div>
*@

<script>
    globalData.Model = JSON.parse('@Html.Raw(Json.Encode(Model))');

</script>

@*
        globalData.AllSport = JSON.parse('@Html.Raw(Json.Encode(Model.AllSport))');
        globalData.Events = JSON.parse('@Html.Raw(Json.Encode(Model.FeedEvents))');
    globalData.Sport = "@Model.StartDateSort";
*@
