@model AltBet.Bet.Models.LoginUserViewModel
@{
    var options = new AjaxOptions
    {
        Url = Url.Action("Login", "Account"),
        OnBegin = "ajaxLoginControllerClass.OnBeginJs",
        OnSuccess = "ajaxLoginControllerClass.OnSuccessJs",
        OnFailure = "ajaxLoginControllerClass.OnFailureJs",
        //OnComplete = "OnCompleteJs",
    };
}
<div class="sign_in_form pop_up">
    <div class="pop_up_container">
<div class="sign_in_content pop_up_content">
    <span class="close"><span></span></span>
    @*@using (@Html.BeginForm("Login", "Account", FormMethod.Post))*@
    @using (Ajax.BeginForm("Login", "Account", options, new { autocomplete = "off" }))
    {
            <div class="content_form">
                <div class="container_login">
                    <div class='logo_cont'></div>
                    <h2>Welcome to Alt.Bet Exchange</h2>

                    <span class="input_animate input--kuro inpt_mail">
                        @Html.ValidationMessageFor(model => model.UserIdentity, null, new { @class = "validation-summary-errors" })   
                        @Html.TextBoxFor(model => model.UserIdentity, new { id = "login-email", @class = "input__field input__field--kuro", maxlength = "128" })
                        <label class="input__label input__label--kuro" for="login-email">
                            <span class="input__label-content input__label-content--kuro">E-mail or User Name</span>
                        </label>
                    </span>

                    <!--<span class="validation-summary-errors">wrong password</span>-->
                    <span class="input_animate input--kuro pass_container inpt_password">
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "validation-summary-errors" })   
                        @Html.TextBoxFor(model => model.Password, new { type = "password", id = "password", @class = "input__field input__field--kuro", maxlength = "20" })
                        <span class="input__label input__label--kuro">
                            <span class="input__label-content input__label-content--kuro">Password</span>
                        </span>
                    </span>

                    <!--<span class="error-massage">Password is required</span>-->
                    

                    
                    <button type="submit" class="login_btn wave btn btn_lg_icon btn_yellow">Login</button>
                    @*<input type="submit" value="Submit" id="submit_sign">*@
                    <a href="#" class="register wave btn btn_lg_icon btn_blue ">Join</a>

                    <div class="remember_forgot">
                        <label>
                            <input type="checkbox">
                            <span>Remember Me</span>
                        </label>
                        <a href="#" class="forgot_password">Forgot email or password?</a>
                    </div>

                </div>
            </div>
    }        
    </div>
    </div>
</div>