@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">    
        <ul class="breadcrumbs">
            <li><a href="#">Sport</a></li>
            <li><a href="#">Footbool</a></li>
            <li><a href="#">Championship</a></li>
            <li>Germany VS France</li>
        </ul>
        <div class="wrapper_event_page" data-ng-app="orders">
            <h2>Milan vs Inter</h2>
            <div id="container" class="schedule"></div>
            <div class="price_all">
                <div class="current_price">
                    <div class="wrapper" style="min-height: auto;">
                        <h2>USD/UAH 30-31/03/2016</h2>
                        <ul class="price">
                            <li>Current price</li>
                            <li><span>26.675</span></li>
                        </ul>
                    </div>
                    <table class="high">
                        <tr>
                            <td><span>High</span></td>
                            <td><strong>0.44</strong></td>
                        </tr>
                    </table>
                    <table class="low">
                        <tr>
                            <td><span>Low</span></td>
                            <td><strong>0.33</strong></td>
                        </tr>
                    </table>
                </div>
                <div class="specification">
                    <h2>Specification</h2>
                    <table class="specification_table">
                        <tr>
                            <td><strong>Symbol:</strong></td>
                            <td><span>USD/UAH 25-31/06/2016</span></td>
                        </tr>
                        <tr class="color">
                            <td><strong>Start:</strong></td>
                            <td><span>30.03.2016</span></td>
                        </tr>
                        <tr>
                            <td><strong>End:</strong></td>
                            <td><span>4:00 PM 3/31/2016</span></td>
                        </tr>
                        <tr class="color">
                            <td><strong>Strike price:</strong></td>
                            <td><span>UAH 30</span></td>
                        </tr>
                        <tr>
                            <td><strong>Trade volume:</strong></td>
                            <td><span>7/006</span></td>
                        </tr>
                        <tr class="color">
                            <td><strong>Volume today:</strong></td>
                            <td><span>12</span></td>
                        </tr>
                        <tr>
                            <td><strong>All positions:</strong></td>
                            <td><span>3.717</span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="mainController" class="executed" data-ng-controller="ordersCtrl">
                <div class="executed_orders">
                    <table class="head">
                        <thead>
                        <th><span>Продать</span></th>
                        <th><span>Обьем</span></th>
                        </thead>
                    </table>
                    <div class="body buy">
                        <table
                            <tbody>
                                @{if(Model.Orders != null && (Model.Orders.ActiveOrders as List<AltBet.Exchange.ActiveOrder>).Where(x => x.Side == AltBet.Exchange.Side.Buy).Any())
                                    {
                                        foreach (var order in (Model.Orders.ActiveOrders as List<AltBet.Exchange.ActiveOrder>).Where(x => x.Side == AltBet.Exchange.Side.Buy).FirstOrDefault().SummaryPositionPrice.OrderByDescending(o => o.Price).ToList())
                                        {
                                            <tr>
                                                <td>
                                                    <span>
                                                        @Html.Label(string.Format("{0:n2}", order.Price) + '¢')
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        @Html.Label(order.Quantity.ToString())
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="executed_orders">
                    <table class="head">
                        <thead>
                        <th><span>Купить</span></th>
                        <th><span>Обьем</span></th>
                        </thead>
                    </table>
                    <div class="body sell">
                        <table>
                            <tbody>
                                @{if (Model.Orders != null && (Model.Orders.ActiveOrders as List<AltBet.Exchange.ActiveOrder>).Where(x => x.Side == AltBet.Exchange.Side.Sell).Any())
                                    {
                                    foreach (var order in (Model.Orders.ActiveOrders as List<AltBet.Exchange.ActiveOrder>).Where(x => x.Side == AltBet.Exchange.Side.Sell).FirstOrDefault().SummaryPositionPrice.OrderBy(o => o.Price).ToList())
                                        {
                                            <tr>
                                                <td>
                                                    <span>
                                                        @Html.Label(string.Format("{0:n2}", order.Price) + '¢')
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        @Html.Label(order.Quantity.ToString())
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="executed_orders">
                    <table class="head">
                        <thead>
                        <th><span>Исполненые ордера</span></th>
                        <th></th>
                        <th></th>
                        </thead>
                    </table>
                    <div class="body tick">
                        <table>
                            <tbody>
                                @{if (Model.Orders != null)
                                {
                                    foreach (var order in (Model.Orders.Ticks as List<AltBet.Exchange.Tick>).Where(x => x.Currency == "USD").ToList().OrderByDescending(o => o.Time))
                                    {
                                        <tr>
                                            <td>
                                                <span>
                                                    @Html.Label(order.Time.ToString("MM-dd-yyyy HH:mm:ss"))
                                                    @*@Html.Label(order.Time.ToLocalTime().ToString())*@
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    @Html.Label(string.Format("{0:##}", order.Price * 100) + '¢')
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    @Html.Label(order.Volume.ToString())
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                                }                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*<div class="currency">
                <table class="currency_table">
                    <tr>
                        <td><span>kurs.com.ua</span></td>
                        <td><span>0.35</span></td>
                        <td><span>26.872</span></td>
                    </tr>
                    <tr>
                        <td><span>minfin.com.ua</span></td>
                        <td><span>0.40</span></td>
                        <td><span>26.789</span></td>
                    </tr>
                    <tr>
                        <td><span>kurs.com.ua</span></td>
                        <td><span>0.33</span></td>
                        <td><span>26.584</span></td>
                    </tr>
                </table>
            </div>
            <button class="buy">Купить</button>
            <button class="sell">Продать</button>*@
            <div class="information">
                @*<h4>Общая информация по курсам банков, черного рынка, НБУ</h4>*@
                <p>
                    @*@ViewBag.activeOrders*@
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, amet animi aperiam
                    aspernatur aut autem dicta dolorem ea earum eos ex fuga hic illum iste laborum modi nam necessitatibus nemo,
                    nobis nostrum perspiciatis porro possimus quaerat repellat, tenetur vitae. Delectus hic ipsa minima numquam
                    quod saepe sed voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere fuga ipsa
                    quidem vel velit voluptas.
                    Alias consequatur doloribus eos praesentium quasi reprehenderit voluptatum? Adipisci animi commodi distinctio
                    ducimus earum eius quasi qui veritatis vero, voluptates. Aliquam aperiam consectetur, doloremque facilis
                    libero maxime nemo odio sed. Assumenda omnis suscipit ut.
                </p>
            </div>
        </div>
</div>
